<section class="about">
    <div class="about__container">
        <h2 class="about__title">Teacher</h2>
        <img 
        srcset="images/about-section-img/teacher-desktop-1x.jpg 1x, images/about-section-img/teacher-desktop-2x.jpg 2x"
        src="images/about-section-img/teacher-desktop-1x.jpg" alt="photo" width="530">
    <div>
        <h3 class="about__subtitle">Elena Moreva</h3>
        <ul class="about__list">
        <li class="about__link link">6 years of experience in preparing students for UPE</li>
        <li class="about__link link">Own result of passing VNO - 197 points 2 years in a row</li>
        <li class="about__link link">Passed excellent at the international analogue of UPE - Cambridge PET (Preliminary English Test</li>
        <p class="about__text"></p>
        </ul>
    </div>
</div>
</section>
