<section class="about">
    <div class="about__container">
        <h2 class="about__title">Teacher</h2>
        <div class="about__wrapper">
                <img class="about__img"
                    srcset="images/about-section-img/teacher-desktop-1x.jpg 1x, images/about-section-img/teacher-desktop-2x.jpg 2x"
                    src="images/about-section-img/teacher-desktop-1x.jpg" alt="photo">
            <div>
                <h3 class="about__subtitle">Elena Moreva</h3>
                <ul class="about__list">
                    <li class="about__item item">6 years of experience in preparing students for UPE</li>
                    <li class="about__item item">Own result of passing VNO - 197 points 2 years in a row</li>
                    <li class="about__item item">Passed excellent at the international analogue of UPE - Cambridge PET
                        (Preliminary English Test)</li>
                </ul>
                <span class="about__line"></span>
                <p class="about__text">Graduated from the Institute of International Relations of the NAU with a degree
                    in traslator-analyst</p>
                <p class="about__text">In spare time takes courses from the best universities in the world on effective
                    teaching and assay writing techniques.</p>
                <p class="about__text">Completed: English Grammar and Essay Writing (Berkeley), English Grammar & Style
                    (The University of Queesland), How to
                    write an Essay (Berkeley), Acadamic and Business Writing (Berkeley), The Art of teaching (GEMS
                    education), Powerful
                    Tools for Teaching and Learning (University of Houston).</p>
                <a class="about__link" href="">Cambrige English Entry Level Certificate
                </a>
            </div>
        </div>
    </div>
</section>


<section class="garantee">
    <div class="garantee__container">
        
        <h2 class="garantee__title">We garantee</h2>
        
        <ul class="garantee__list list">
            <li class="garantee__item">You will pass the UPE with at least 25 points better than on the first pravtice test. Otherwise, we will refund your money.
            <span class="garantee__accent">&#42;</span>  
            </li>
            <li class="garantee__item">You will learn to write essays with with at least 10 points out of 14.
                <span class="garantee__accent">While 20% of the students received 0 for essays.</span>
            </li>
            <li class="garantee__item">You will study in your area. We will choose the location for the classes after the teams have been formed.</li>
            <li class="garantee__item">Teams will be formed based on the starting level of the students. We take into account the characteristics of each student.</li>
        </ul>   
    </div>
</section>
